/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF CSS RESET */

.container{
    width: 980px;
    min-height: 800px;
    padding: 5px;
    }
.container h1{
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;}
.master{
    width:600px;
    display: inline-block;
    text-align: right;
}
    .top{
    width: 100%;
    height: 50px;
    background-color: rgb(209, 214, 219);
    align-content:space-evenly;
}
.main{
    background-color:rgb(44, 12, 44) ;
    width: 950px;
    padding: 15px;
}

.up{
    height: 300px;
    width:100%;
}
.image{
    display:inline-block;
    width:400px;
    vertical-align: top;
    border: 5px solid gray;
}
.image img{
    width: 400px;
    height: 290px;
    
}
.reading{
    display: inline-block;
    width:510px;
    margin-left: 10px;
    height: 300px;
    background:linear-gradient(to bottom, #0a0505 1%, #86878a 31%);
}
.about{
    width:510px;
    height: 30px;
    font-size:x-large;
    color: rgb(214, 202, 209);
}
.text1{
    padding: 20px;
    background-color: gainsboro
}
.bottom{
    min-height: 400px;
    padding: 20px;
}
.box{
    display: inline-block;
    width: 290px;
    min-height: 400px;
    vertical-align: top;
    margin: 5px;
}
.footer{
       text-align: center;
       width: 100%;
        height: 50px;
        background-color: rgb(209, 214, 219);
}
.sub-box, .box2{
    width: 290px;
    background-color: gray;
}
.box .image{
    width: 280px;
    height: 200px;
}
.box .image img{
    width: 280px;
    height: 200px;
}
.img-text, .collection, .button{
    background-color:lavenderblush;
    padding: 10px 10px 30px 10px;
}
.collection img{
    padding: 10px;
}
.button a{
    border-radius: 5px;
    background-color: green;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: small;
    border: 1px;
    justify-items: center;
}
.button{
    text-align: center;
}